<!DOCTYPE html>
<html lang="en">  <!-- Отдельная страничка. Ссылка на эту страничку есть на HomePage -->
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Создание поста</title>
    <link rel="stylesheet" href="{% static 'scss/create_post.css' %}">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <div class="header__menu menu">
                  <ul class="menu__list">
                    <a href="" class="menu__link"><li class="menu__item logo"><img src="{% static 'img/black-earth-circle-with-thin-grid.png' %}" alt=""></li></a>
                    <a href="" class="menu__link link__item"><li class="menu__item item">About</li></a>
                    <a href="" class="menu__link link__item"><li class="menu__item item">Products</li></a>
                    <a href="" class="menu__link link__item"><li class="menu__item item">For teams</li></a>
                    <button class="log-in">Log-in</button>
                    <button class="sign-up">Sign-up</button>
                  </ul>
                </div>
            </div>
        </header>
        <main class="main">

        </main>
        <footer class="footer">

        </footer>
    </div>
    <h1>Создание поста!</h1>
</body>
</html>