<!DOCTYPE html>
<html lang="en">  <!-- Отдельная страничка. Ссылка на эту страничку есть на HomePage -->
{% load static %}
<head>
    <title>Создание поста</title>
</head>
<body>
    <h1>Создание поста</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="title">Название поста:</label><br>
        <input type="text" id="myInputTitle" onkeyup="checkInput()" name="title"><br><br>

        <label for="body">Тело поста:</label><br>
        <input id="myTextBody" name="body" onkeyup="checkInput()"><br><br>

        <button type="submit" id="myButtonSubmit" disabled>Создать пост</button>  <!-- Кнопка не активна, если ничего не написано -->
    </form>
    <script>
    function checkInput() {
      var input_title = document.getElementById('myInputTitle');
      var input_body = document.getElementById('myTextBody')
      var button = document.getElementById('myButtonSubmit');

      if (input_title.value.length > 0 && input_body.value.length > 0) {
        button.disabled = false;
      } else {
        button.disabled = true;
      }
    }
    </script>
</body>
</html>
