<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Пример!!! -->
    <!-- Так должно выглядеть подключение статических файлов: href="{% static 'scss/login.css' %}" -->
</head>
<body>

    <div>
        {% for post in posts %}
            <p>
                <h2>{{ post.title }}</h2>  <!-- Название поста (примените какие-нибудь стили) -->
                <a>{{ post.body| truncatewords:50 }}</a>  <!-- Тело поста и обрезание до 50 слов -->
                <!-- Ссылка чтобы смотреть пость польностью -->
                <a href="{% url 'full_post' pk=post.pk %}">Смотреть пост полностью</a>
            </p>
        {% endfor %}
    </div>

</body>
</html>