{% extends 'main_app/base.html' %}

    {% block content %}
    <div>
        {% for post in posts %}
            <p>
                <h2>{{ post.title }}</h2>  <!-- Название поста (примените какие-нибудь стили) -->
                <a>{{ post.body| truncatewords:50 }}</a>  <!-- Тело поста и обрезание до 50 слов -->
                <!-- Ссылка чтобы смотреть пость польностью -->
                <a href="{% url 'full_post' pk=post.pk %}">Смотреть пост полностью</a>
                {% if not forloop.last %}
                <hr>
                {% endif %}
            </p>
        {% endfor %}
    </div>
    {% endblock %}
