<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'scss/login.css' %}">
    <meta name="viewport" content="width=device-width">
    <title>Title</title>
</head>
<body>
  <div class="wrapper">

    <header class="header">
      <div class="header__container">
        <div class="header__menu menu">
          <ul class="menu__list">
            <a href="" class="menu__link"><li class="menu__item logo"><img src="{% static 'img/black-earth-circle-with-thin-grid.png' %}" alt=""></li></a>
            <a href="" class="menu__link link__item"><li class="menu__item item">About</li></a>
            <a href="" class="menu__link link__item"><li class="menu__item item">Products</li></a>
            <a href="" class="menu__link link__item"><li class="menu__item item">For teams</li></a>
            <button class="log-in">Log-in</button>
            <button class="sign-up">Sign-up</button>
          </ul>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="login">
        <div class="login__container">
          <div class="login__note">
            log-in
          </div>
          <form method="post">
            {% csrf_token %}
            <input type="text" name="username" id="myInputUsername" onkeyup="checkInput()" placeholder="Username">
            <input type="password" name="password" id="myInputPassword" onkeyup="checkInput()" placeholder="Password">
            <button type="submit" id="myButton" disabled>Log-in</button>
          </form>
          <div class="login__links">
            Don’t have an account? <a href="">Sign up</a>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer">

    </footer>

    <script>
      function checkInput() {
        var input_username = document.getElementById('myInputUsername');
        var input_password = document.getElementById('myInputPassword')
        var button = document.getElementById('myButton');

        if (input_username.value.length > 0 && input_password.value.length > 0) {
          button.disabled = false;
        } else {
          button.disabled = true;
        }
      }
    </script>
  </div>
</body>
</html>