<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PasswordCheckReset</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <!-- Добавить обновляющуюся переменную, "Введите код из почты", при ошибке "Неверный код, попробуйте снова" -->
        <input type="text" name="check_password_reset" id="myInputCheckPasswordReset" onkeyup="checkInput()" placeholder="Code">
        <button type="submit" id="myButtonCheckPasswordReset" disabled>Check</button>
    </form>
    <!-- Скрипт для проверки того, что написано в поле email -->
    <script>
      function checkInput() {
        var input_username = document.getElementById('myInputCheckPasswordReset');
        var button = document.getElementById('myButtonCheckPasswordReset');

        if (input_username.value.length > 0) {
          button.disabled = false;
        } else {
          button.disabled = true;
        }
      }
    </script>

</body>
</html>

</body>
</html>