<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Passsword reset</title>
</head>
<body>

    <form method="post">
        {% csrf_token %}
        <input type="email" name="email_password_reset" id="myInputPasswordReset" onkeyup="checkInput()" placeholder="Email">
        <button type="submit" id="myButtonPasswordReset" disabled>Send mail</button>
    </form>
    
    <!-- Скрипт для проверки того, что написано в поле email -->
    <script>
      function checkInput() {
        var input_username = document.getElementById('myInputPasswordReset');
        var button = document.getElementById('myButtonPasswordReset');

        if (input_username.value.length > 0) {
          button.disabled = false;
        } else {
          button.disabled = true;
        }
      }
    </script>

</body>
</html>