<!DOCTYPE html>
<html lang="en">
{% load static %}  <!-- Везде подключай эту хуйню -->
<head>
    <!-- Пример как подключать статические файлы, это css, img, js и другие -->
    <link rel="stylesheet" type="text/css" href="{% static 'scss/registration.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>SpaceShare</title>
</head>
<body>
  <div class="wrapper">
    <header class="header">
      <div class="header__container">
        <div class="header__menu menu">
          <div class="adaptive"></div>
          <ul class="menu__list">
            <button class="header__burger--btn" id="burger">
              <span></span><span></span><span></span>
            </button>
            <a href="" class="menu__link"><li class="menu__item logo"><img src="{% static 'img/black-earth-circle-with-thin-grid.png' %}" alt=""></li></a>
            <a href="" class="menu__link link__item adapt link__item_1"><li class="menu__item item">About</li></a>
            <a href="" class="menu__link link__item adapt link__item_2"><li class="menu__item item">Products</li></a>
            <a href="" class="menu__link link__item adapt link__item_3"><li class="menu__item item">For teams</li></a>
            <button class="log-in adapt">Log-in</button>
            <button class="sign-up adapt">Sign-up</button>
          </ul>
        </div>
      </div>
    </header>

    <main class="main">
      <div class="register">
        <div class="register__container">
          <div class="register__auth">
            <div class="register__note">
              register to start chatting in our service.
            </div>


            <!-- Это нужно для создания аккаунта DJANGO -->
            <form method="post">
              {% csrf_token %}
              <input type="text" name="username" id="myInputName" onkeyup="checkInput()" placeholder="Username">
              <input type="text" name="password" id="myInputPassword" onkeyup="checkInput()" placeholder="Password">
              <input type="email" name="email" id="myInputEmail" onkeyup="checkInput()" placeholder="Email">
              <button type="submit" id="myButton" disabled>Register</button>
            </form>
            <!-- Это нужно для создания аккаунта DJANGO -->
              

            <!-- Это нужно для входа в существующий аккаунт DJANGO -->
            <div class="register__links">
              Already have an account? <a href="{% url 'login' %}">Log in</a>
            </div>
            <!-- Это нужно для входа в существующий аккаунт DJANGO -->


          </div>
        </div>
      </div>
    </main>

    <footer class="footer">
    </footer>

  </div>

  <script>
    function checkInput() {
      var input_name = document.getElementById('myInputName');
      var input_password = document.getElementById('myInputPassword')
      var input_email = document.getElementById('myInputEmail')
      var button = document.getElementById('myButton');

      if (input_name.value.length > 0 && input_password.value.length > 0 && input_email.value.length > 0) {
        button.disabled = false;
      } else {
        button.disabled = true;
      }
    }
  </script>

  <script src="../../static/js/presetsJS/t-b+adaptive--pres__[JS].js"></script>
</body>
</html>

