//- IMPORT -\\
@import "../presets/ns--pres.css";
@import "../presets/t-b+body--pres.css";
@import "../presets/t-b+adaptive--pres.css";
@import "../presets/media-queries--pres.css";

//- MEDIA -\\
@media (max-width: 807.98px) {
    .main {
        padding: 0px 20px;
        .post{
            .post__title {
                font-size: 24px !important;
                font-weight: 700;
            }
        }
    }
}

//-  BODY  -//
body {
    color: #fff;
    overflow: hidden;
}

//-  VARIABLES  -\\
$m--C: #282c34;
$t--FZ: 34px;
$t_S--FZ: 20px;

//- STYLES -\\
.wrapper {
    header {
        //- All imported. 

        //- {t-b+body--pres.css} (+) | 
        //- {t-b+adaptive--pres.css} (+) |
        //- {media-queries--pres.css} (+) |
        //- {ns--pres.css} (+) |
    }
    main {
        margin: 160px 0px 0px 0px;
        .post {
            &__container {
                max-width: 768px;
                min-height: 300px;
                //---\\
                border: 5px solid $m--C;
                border-radius: 5px;
                background-color: #071623;
                //---\\
                margin: 0 auto 0 auto;
                padding: 20px;
            }
            &__title {
                font-size: $t--FZ;
                font-weight: 700;
            }
            &__text {
                font-size: $t_S--FZ;
                font-weight: 400;
                //---\\
                margin: 15px 0px 0px 0px;
                //---\\
                line-height: 1.07;
            }

            //***\\
            &__title--underline {
                min-height: 5px;
                max-width: 100%;
                //---\\
                background-color: #fff;
                border-radius: 5px;
                //---\\
                margin: 10px 0px 0px 0px;
            }
        }
    }
    footer {

    }
}